- 통계분석방법 4주차 실습
- 작성자 : 컴퓨터공학과 12201830 김건탁

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# 1
se = pd.Series([1, 2, 3, 4, 5, np.nan])
print(se)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [ ]:
# 2
dates = pd.date_range('20230101', periods = 6)
print(dates)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# 3
df1 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
print(df1)

                   A         B         C         D
2023-01-01 -0.689674 -0.490673  1.005911 -0.913754
2023-01-02  1.616688 -0.730517 -0.888424  1.020713
2023-01-03  1.013524  0.898062 -1.316237  1.053616
2023-01-04 -0.686994 -0.722243  0.160048  0.124989
2023-01-05  0.902302  1.938140  0.745462 -1.112146
2023-01-06  0.616480 -1.451708 -0.632672 -0.376315

In [ ]:
# 4
df2 = pd.DataFrame({'A': 1.,
                   'B': pd.Timestamp('20130102'),
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'), 
                   'D': [3, 3, 3, 3],
                   'E': ["test", "train", "test", "train"],
                   'F': 'foo'})
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
# 5
df1.head(5)

                   A         B         C         D
2023-01-01 -0.689674 -0.490673  1.005911 -0.913754
2023-01-02  1.616688 -0.730517 -0.888424  1.020713
2023-01-03  1.013524  0.898062 -1.316237  1.053616
2023-01-04 -0.686994 -0.722243  0.160048  0.124989
2023-01-05  0.902302  1.938140  0.745462 -1.112146

In [ ]:

df1.tail(3)

                   A         B         C         D
2023-01-04 -0.686994 -0.722243  0.160048  0.124989
2023-01-05  0.902302  1.938140  0.745462 -1.112146
2023-01-06  0.616480 -1.451708 -0.632672 -0.376315

In [ ]:
# 6
df1.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df1.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
# 7
df1.to_numpy()

array([[-0.68967424, -0.49067341,  1.00591078, -0.91375435],
       [ 1.61668843, -0.73051664, -0.88842394,  1.02071276],
       [ 1.01352366,  0.89806192, -1.31623664,  1.05361602],
       [-0.6869943 , -0.72224315,  0.16004778,  0.12498948],
       [ 0.90230242,  1.93813974,  0.74546235, -1.11214599],
       [ 0.61647967, -1.4517076 , -0.63267173, -0.37631477]])

In [ ]:
# 8
df1.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.462054 -0.093157 -0.154319 -0.033816
std    0.948868  1.258121  0.935131  0.935324
min   -0.689674 -1.451708 -1.316237 -1.112146
25%   -0.361126 -0.728448 -0.824486 -0.779394
50%    0.759391 -0.606458 -0.236312 -0.125663
75%    0.985718  0.550878  0.599109  0.796782
max    1.616688  1.938140  1.005911  1.053616

In [ ]:
# 9
df1.T # transpose

   2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  2023-01-06
A   -0.689674    1.616688    1.013524   -0.686994    0.902302    0.616480
B   -0.490673   -0.730517    0.898062   -0.722243    1.938140   -1.451708
C    1.005911   -0.888424   -1.316237    0.160048    0.745462   -0.632672
D   -0.913754    1.020713    1.053616    0.124989   -1.112146   -0.376315

In [ ]:
# 10
df1.sort_index(axis=1, ascending=False) # axis=1 -> 컬럼을 기준으로

                   D         C         B         A
2023-01-01 -0.913754  1.005911 -0.490673 -0.689674
2023-01-02  1.020713 -0.888424 -0.730517  1.616688
2023-01-03  1.053616 -1.316237  0.898062  1.013524
2023-01-04  0.124989  0.160048 -0.722243 -0.686994
2023-01-05 -1.112146  0.745462  1.938140  0.902302
2023-01-06 -0.376315 -0.632672 -1.451708  0.616480

In [ ]:
df1.sort_index(axis=0, ascending=True) # axis=0 -> 인덱스를 기준으로

                   A         B         C         D
2023-01-01 -0.689674 -0.490673  1.005911 -0.913754
2023-01-02  1.616688 -0.730517 -0.888424  1.020713
2023-01-03  1.013524  0.898062 -1.316237  1.053616
2023-01-04 -0.686994 -0.722243  0.160048  0.124989
2023-01-05  0.902302  1.938140  0.745462 -1.112146
2023-01-06  0.616480 -1.451708 -0.632672 -0.376315

In [ ]:
df1.sort_values(by='B') # B 컬럼을 기준으로

                   A         B         C         D
2023-01-06  0.616480 -1.451708 -0.632672 -0.376315
2023-01-02  1.616688 -0.730517 -0.888424  1.020713
2023-01-04 -0.686994 -0.722243  0.160048  0.124989
2023-01-01 -0.689674 -0.490673  1.005911 -0.913754
2023-01-03  1.013524  0.898062 -1.316237  1.053616
2023-01-05  0.902302  1.938140  0.745462 -1.112146

In [ ]:
# 11
df1['A']

2023-01-01   -0.689674
2023-01-02    1.616688
2023-01-03    1.013524
2023-01-04   -0.686994
2023-01-05    0.902302
2023-01-06    0.616480
Freq: D, Name: A, dtype: float64

In [ ]:
# 12
df1[:3] # 첫번째 행부터 3개의 행 추출

                   A         B         C         D
2023-01-01 -0.689674 -0.490673  1.005911 -0.913754
2023-01-02  1.616688 -0.730517 -0.888424  1.020713
2023-01-03  1.013524  0.898062 -1.316237  1.053616

In [ ]:
# 13
df1.loc[dates[0]]

A   -0.689674
B   -0.490673
C    1.005911
D   -0.913754
Name: 2023-01-01 00:00:00, dtype: float64

In [ ]:
# 14
df1.loc[:, ['A', 'B']]

                   A         B
2023-01-01 -0.689674 -0.490673
2023-01-02  1.616688 -0.730517
2023-01-03  1.013524  0.898062
2023-01-04 -0.686994 -0.722243
2023-01-05  0.902302  1.938140
2023-01-06  0.616480 -1.451708

In [ ]:
# 15
df1.loc['2023-01-02': '2023-01-04', ['A', 'B']]

                   A         B
2023-01-02  1.616688 -0.730517
2023-01-03  1.013524  0.898062
2023-01-04 -0.686994 -0.722243

In [ ]:
# 16
df1.iloc[3]

A   -0.686994
B   -0.722243
C    0.160048
D    0.124989
Name: 2023-01-04 00:00:00, dtype: float64

In [ ]:
df1.iloc[3: 5]

                   A         B         C         D
2023-01-04 -0.686994 -0.722243  0.160048  0.124989
2023-01-05  0.902302  1.938140  0.745462 -1.112146

In [ ]:
df1.iloc[:: 2]

                   A         B         C         D
2023-01-01 -0.689674 -0.490673  1.005911 -0.913754
2023-01-03  1.013524  0.898062 -1.316237  1.053616
2023-01-05  0.902302  1.938140  0.745462 -1.112146

In [ ]:
# 17
df1[df1['A'] > 0]

                   A         B         C         D
2023-01-02  1.616688 -0.730517 -0.888424  1.020713
2023-01-03  1.013524  0.898062 -1.316237  1.053616
2023-01-05  0.902302  1.938140  0.745462 -1.112146
2023-01-06  0.616480 -1.451708 -0.632672 -0.376315

In [ ]:
# 18
# 파일 업로드
from google.colab import files
import io
file_uploaded = files.upload()

df = pd.read_csv(io.BytesIO(file_uploaded['supplier_data.csv']))
df.head(10)

Saving supplier_data.csv to supplier_data.csv

  Supplier Name Invoice Number  Part Number     Cost Purchase Date
0    Supplier X       001-1001         2341  $500.00       1/20/14
1    Supplier X       001-1001         2341  $500.00       1/20/14
2    Supplier X       001-1001         5467  $750.00       1/20/14
3    Supplier X       001-1001         5467  $750.00       1/20/14
4    Supplier Y        50-9501         7009  $250.00       1/30/14
5    Supplier Y        50-9501         7009  $250.00       1/30/14
6    Supplier Y        50-9505         6650  $125.00        2/3/14
7    Supplier Y        50-9505         6650  $125.00        2/3/14
8    Supplier Z       920-4803         3321  $615.00        2/3/14
9    Supplier Z       920-4804         3321  $615.00       2/10/14

In [ ]:
# 19
df['Cost'] = df['Cost'].str.strip('$').astype(float) # Cost 열의 데이터들을 문자열로 받아와서, $ 문자를 없애고, 그 결과를 float 타입으로 형 변환
df.head()

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
0    Supplier X       001-1001         2341  500.0       1/20/14
1    Supplier X       001-1001         2341  500.0       1/20/14
2    Supplier X       001-1001         5467  750.0       1/20/14
3    Supplier X       001-1001         5467  750.0       1/20/14
4    Supplier Y        50-9501         7009  250.0       1/30/14

In [ ]:
# 20
df.loc[(df['Supplier Name'].str.contains('Z')) | (df['Cost'] > 600.0)]

   Supplier Name Invoice Number  Part Number   Cost Purchase Date
2     Supplier X       001-1001         5467  750.0       1/20/14
3     Supplier X       001-1001         5467  750.0       1/20/14
8     Supplier Z       920-4803         3321  615.0        2/3/14
9     Supplier Z       920-4804         3321  615.0       2/10/14
10    Supplier Z       920-4805         3321  615.0       2/17/14
11    Supplier Z       920-4806         3321  615.0       2/24/14

In [ ]:
# 21
df.loc[df['Purchase Date'].isin(['1/20/14', '1/30/14'])]

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
0    Supplier X       001-1001         2341  500.0       1/20/14
1    Supplier X       001-1001         2341  500.0       1/20/14
2    Supplier X       001-1001         5467  750.0       1/20/14
3    Supplier X       001-1001         5467  750.0       1/20/14
4    Supplier Y        50-9501         7009  250.0       1/30/14
5    Supplier Y        50-9501         7009  250.0       1/30/14

In [ ]:
# 22
df.loc[df['Invoice Number'].str.startswith('001-')]

  Supplier Name Invoice Number  Part Number   Cost Purchase Date
0    Supplier X       001-1001         2341  500.0       1/20/14
1    Supplier X       001-1001         2341  500.0       1/20/14
2    Supplier X       001-1001         5467  750.0       1/20/14
3    Supplier X       001-1001         5467  750.0       1/20/14