- 2주차 실습
- 작성자 : 김건탁

In [ ]:
# 1
print("Hello world")

Hello world

In [ ]:
# 2
print("통계분석방법 수강생 정말 정말 반갑습니다")

통계분석방법 수강생 정말 정말 반갑습니다

In [ ]:
# 3
print(1)
print(5)

1
5

In [ ]:
# 4
s = "안녕하세요"
print(s[0])
print(len(s))

안
5

In [ ]:
# 5
n1 = int(input("첫번째 정수를 입력하세요 > "))
n2 = int(input("두번째 정수를 입력하세요 > "))

print("두 정수의 합 : ", n1+n2)

첫번째 정수를 입력하세요 > 5
두번째 정수를 입력하세요 > 7
두 정수의 합 :  12

In [ ]:
# 6
List_1 = ['apple', 100, 'banana']
print("List_1 =", List_1)

List_1 = ['apple', 100, 'banana']

In [ ]:
# 7 
a = [1, 2, 3, 4, 5]

# 7-1
a.append(6)

# 7-2
a += [6, 7, 8]

# 7-3
a.append([9, 10])

# 7-4
a.pop()

# 7-5
a.remove(8)

print(a)

[1, 2, 3, 4, 5, 6, 6, 7]

In [ ]:
# 8
score = int(input("점수를 입력하세요 > "))

print("pass") if score >= 80 else print("fail")

점수를 입력하세요 > 70
fail

In [ ]:
# 9
score = int(input("0~100 사이의 점수를 입력하세요 > "))

if score >= 90:
  print("A 학점입니다.")
elif score >= 80:
  print("B 학점입니다.")
elif score >= 70:
  print("C 학점입니다.") 
elif score >= 60:
  print("D 학점입니다.")
else:
  print("F 학점입니다.")

0~100 사이의 점수를 입력하세요 > 80
B 학점입니다.

In [ ]:
# 10
n = 100
while (n > 0):
  n -= 10
  print(n)

90
80
70
60
50
40
30
20
10
0

In [ ]:
# 11
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# 12
a = ['save', 'shade', 'upright', 'amid', 'so', 'tweet', 'modern', 'meter', 'dresser', 'gosh']

# 12-1
for elem in a:
  print(elem)


print("----------------------------")

# 12-2
for elem in a:
  if elem.startswith('s'):
    print(elem)

save
shade
upright
amid
so
tweet
modern
meter
dresser
gosh
----------------------------
save
shade
so

In [ ]:
# 13
def udAvg(l):
  sum = 0.0
  for i in l:
    sum += i
  return sum / len(l)

# 13-1
a_list = [3, 4, 5, 6, 10]
print(udAvg(a_list))

5.6

In [ ]:
# 13-2
b_list = []
print(udAvg(b_list))

ZeroDivisionError: ignored

In [ ]:
# 14
def upgradedUdAvg(l):
  if len(l) == 0:
    return None
  sum = 0.0
  for i in l:
    sum += i
  return sum / len(l)

# 14-1
print(upgradedUdAvg(a_list))
# 14-2
print(upgradedUdAvg(b_list))

5.6
None